body {
background-color: #F0EFEC;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #0B2027;
    color: #ffffff;
    padding: 1rem 0;
}

.logo {
    width: 40px;
    height: 3rem;
    margin-right: auto;
    margin-left: 20px;
    margin-top: 5px;
    cursor: pointer;
    background-color: #0B2027;
}

li, a, button {
    font-family: "Unica One", sans-serif;
    font-size: 14px;
    text-decoration: none;
    color: #ffffff;
}

.navlinks {
    list-style: none;
}

.navlinks li {
display: inline-block;
padding: 3px 20px;
}

.navlinks li a {
    transition: all 0.3s ease 0s;
}

.navlinks li a:hover {
    color: #ffffff
}

button {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 9px;
    padding: 0px 0px;
    background-color: #0B2027;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    padding: 10px;
}

button:hover {
background-color: rgb(0, 0, 0);

}

.wrapper {
width: 100%;
} 

.img__banner {
    display: inline-block; 
}

.img__banner {
    width: 100%;
}

.img__sektion {
    display: inline-block;
    width: 100%;
    margin-top: -4px;

}

.introduktion__info {
    width: auto;
}

.introduktion__info h2 {
    padding: 0px 0px 0px;
    font-family: "Unica One", sans-serif;
    line-height: 30px;
    color: #235E72;
text-align: center;
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: 35px;
letter-spacing: 0.9px;
}



.introduktion__info p {
    padding: 30px 30px 20px;
    color: #111;
    width: auto;
    text-align: center;
    color: #000;
font-family: "Urbanist", sans-serif;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: 33px;
letter-spacing: 0.32px;
}




.marketing__box {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 10px; 
    background-color: #000000; 
    border: 2px solid #000000; 
    border-radius: 0px; 
    max-width: auto; 
    margin: 10px auto; 
}
.marketing__box img {
    max-width: 48%; 
    height: auto; 
    border-radius: 5px; 
    box-shadow: 3 8px 10px rgba(0, 0, 0, 0.1); 
}

.img-marketing2 {
    width: 50%;
    float: middle;
}

.img-marketing3 {
    width: 50%;
    float: right;
}


.marketing__header h2 {
    padding: 30px 30px 10px;
    font-family: "Unica One", sans-serif;
    line-height: 30px;
    color: #235E72;
text-align: center;
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: 26px;
letter-spacing: 0.9px;
}


.marketing__info p {
    padding: 30px 30px 20px;
    color: #111;
    line-height: 33px;
    width: auto;
    text-align: center;
    color: #000;

text-align: center;
font-family: "Urbanist", sans-serif;
font-size: 15px;
font-style: normal;
font-weight: 500;
letter-spacing: 0.32px;
}

.produktbilleder__header h2 {
    padding: 30px 30px 20px;
    font-family: "Unica One", sans-serif;
    line-height: 30px;
    color: #235E72;
text-align: center;
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: 26px;
letter-spacing: 0.9px;
}

.img-produktbillede1 {
    width: 100%
}

.img-produktbillede2 {
    width: 100%
}

.img-produktbillede3 {
    width: 100%
}

.img-produktbillede4 {
    width: 100%
}

.img-produktbillede5 {
    width: 100%
}

.img-produktbillede6 {
    width: 100%
}

.hjemmesidedesign__img {
    width: 100%
}

.produktbilleder__info p {
    padding: 30px 30px 20px;
    color: #111;
    line-height: 19px;
    width: auto;
    text-align: center;
    color: #000;
text-align: center;
font-family: "Urbanist", sans-serif;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: 33px;
letter-spacing: 0.32px;
}

.aftereffects__header h2 {
    padding: 30px 30px 20px;
    font-family: "Unica One", sans-serif;
    line-height: 30px;
    color: #235E72;
text-align: center;
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: 26px;
letter-spacing: 0.9px;
}

.aftereffects__box {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 30px; 
    background-color: #000000; 
    border: 2px solid #000000; 
    border-radius: 0px; 
    max-width: auto; 
    margin: 20px auto; 
}
.aftereffects__box img {
    max-width: 48%; 
    height: auto; 
    border-radius: 5px; 
    box-shadow: 3 8px 10px rgba(0, 0, 0, 0.1); 
}

.hjemmesidedesign__header h2 {
    padding: 30px 30px 20px;
    font-family: "Unica One", sans-serif;
    line-height: 30px;
    color: #235E72;
text-align: center;
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: 26px;
letter-spacing: 0.9px;
}

.img-hjemmesidedesignbillede {
    width: 100%
}

.overskrift h2 {
    padding: 30px 30px 20px;
    font-family: "Unica One", sans-serif;
    line-height: 30px;
    color: #235E72;
text-align: center;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 26px;
letter-spacing: 0.9px;
}

#kontakt h2 {
    padding: 0px 10px;
    background: #F0EFEC;
    font-size: 20px;
    font-family: "unica one", sans-serif;
    color: #235e72;
    font-weight: 700;
}
#kontakt p {
padding: 0px 10px;
}


.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.kontakt-venstre {
    flex-basis: 35%;
}
.kontakt-højre form {
    flex-basis: 90%;
    padding-right: 10px;
    width: 90%;
}
.kontakt-venstre p {
    margin-top: 30px;
    font-family: "urbanist", sans-serif;
    font-size: 18px;
    color: #000000;
    margin-right: 15px;

}
form input, form textarea {
    width: 95%;
    border: 0px;
    outline: none;
    background: #cdcdcd;
    padding: 18px;
    margin: 13px 12px;
    color: #E8E8E3;
    font-size: 14px;
    font-family: "urbanist", sans-serif;
    border-radius: 6px;
}
.indsend{
    background: #0B2027;
    padding: 10px 55px;
    font-size: 18px;
    margin-top: 10px;
    border-radius: 60px;

}

.copyright {
    font-family: "Urbanist", sans-serif;
}




.hellokitty__header h2 {
    padding: 30px 30px 20px;
    font-family: "Unica One", sans-serif;
    line-height: 30px;
    color: #235E72;
text-align: center;
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: 26px;
letter-spacing: 0.9px;
}

.hellokitty__img {
    width: 40%;
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
}

.logodesign__header h2 {
    padding: 30px 30px 20px;
    font-family: "Unica One", sans-serif;
    line-height: 30px;
    color: #235E72;
text-align: center;
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: 26px;
letter-spacing: 0.9px;
}

.logodesign__img {
    width: 40%;
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 70px;
}

/* OM MIG CSS */ 

.ommig__introduktion__info p {
    padding: 30px 30px 20px;
    color: #111;
    width: auto;
    text-align: center;
    color: #000;
font-family: "Urbanist", sans-serif;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: 33px;
letter-spacing: 0.32px;
}

.ommig__introduktion__info h2 {
    padding: 30px 30px 20px;
    font-family: "Unica One", sans-serif;
    line-height: 30px;
    color: #235E72;
text-align: center;
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: 26px;
letter-spacing: 0.9px;
}

.portræt__box img{
    width: 30%;
}

.portræt__box {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 10px; 
    background-color: #F0EFEC; 
    border-radius: 0px; 
    max-width: auto; 
    margin: 10px auto; 
}

.roskilde__box img{
    width: 20%;
}

.roskilde__box {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 10px; 
    background-color: #000000; 
    border-radius: 0px; 
    max-width: auto; 
    margin: 10px auto; 
}

.roskilde__box__info p {
    padding: 30px 30px 20px;
    color: #111;
    line-height: 19px;
    width: auto;
    text-align: center;
    color: #000;

text-align: center;
font-family: "Urbanist", sans-serif;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: 33px;
letter-spacing: 0.32px;
}


/* MEDIA QUERY */ 


@media only screen and (min-width: 768px) {
    .img__banner {
        display: block;
        width: 100%;
         padding-bottom: 30px;
    }
    .wrapper {
        width: 100%;
        margin: 0 auto; 
        }
        
        .introduktion__info h2 {
            padding: 0px 30px 10px;
            font-size: 40px;
        }
        
        .introduktion__info p {
            padding: 30px 30px 20px;
            font-size: 24px;
            color: #111;
            line-height: 33px;
        }
        .marketing__box {
            display: flex; 
            justify-content: space-evenly; 
            flex-direction: row;
            align-items: center; 
            padding: 10px; 
            background-color: #F0EFEC; 
            border: 2px solid #F0EFEC; 
            border-radius: 0px; 
            max-width: auto; 
            margin: 10px auto; 
        }
        .marketing__box img {
            max-width: 33%; 
            padding: 10px;
            height: 25rem; 
            border-radius: 5px; 
            box-shadow: 3 8px 10px rgba(0, 0, 0, 0.1); 
        }   
        .marketing__info p {
            padding: 30px 30px 20px;
            font-size: 24px;
            color: #111;
            line-height: 33px;
        }

        .produktbilleder h2 {
            padding: 0px 30px 10px;
            font-size: 40px;
        }
        .produktbilleder__info p {
            padding: 30px 30px 20px;
            font-size: 26px;
            color: #111;
            line-height: 33px;
            color: #000;
 
        }  
        .aftereffects h2 {
            padding: 20px 30px 10px;
            font-size: 40px;
        }
        .hjemmesidedesign__header h2 {
            padding: 20px 30px 10px;
            font-size: 40px;
        }
        #kontakt h2 {
            font-size: 40px;
    
        }

        .produktbilleder__box {
            display: flex; 
            justify-content: center; 
            align-items: baseline; 
            padding: 0px; 
            flex-direction: row;
            flex-wrap: wrap;
            background-color: #F0EFEC; 
            border: 1px solid #F0EFEC; 
            border-radius: 8px; 
            max-width: auto; 
            margin: 0px auto; 
        }
        .produktbilleder__box img {
            max-width: 40%; 
            height: auto; 
            border-radius: 5px; 
            padding: 5px;
        }
        
        

        .hellokitty__header h2 {
            font-size: 40px;
        }

        
        .hellokitty__img {
            width: 30%;
        }
        
        .logodesign__header h2 {
        font-size: 40px;
        }
        
        .logodesign__img {
            width: 30%;
            padding-bottom: 100px;
        }

        li, a, button {
            font-family: "Unica One", sans-serif;
            font-size: 20px;
            text-decoration: none;
            color: #ffffff;
        }

        .logo {
            width: 50px;
            height: 4rem;
            margin-right: auto;
            margin-left: 20px;
            margin-top: 5px;
            cursor: pointer;
            background-color: #0B2027;
        }

        .navlinks li {
            display: inline-block;
            padding: 5px 20px;
        }

        .img__sektion {
            display: inline-block;
            width: 100%;
            margin-top: -30px;
        }

        .ommig__introduktion__info p {
            padding: 30px 30px 20px;
            font-size: 24px;
            color: #111;
            line-height: 33px;
        }

        .roskilde__box__info p {
            font-size: 24px; 
        }

}


@media only screen and (min-width: 1000px) {
    
}






@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');